# SPDX-License-Identifier: LGPL-3.0-only
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
trim_trailing_whitespace = false
insert_final_newline = false

[Makefile]
indent_style = tab

[.editorconfig]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{*.go,go.mod}]
charset = utf-8
indent_style = tab
end_of_line = lf
trim_trailing_whitespace = false
insert_final_newline = true

[*.md]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
trim_trailing_whitespace = false
insert_final_newline = true
